<!DOCTYPE HTML>
<html>
<head>
    <style>
        body {
            margin: 0px;
            padding: 0px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var x = 10;
            var y = 10;
            var image_size = 48;
            var canvas_width = 800;

            var canvas=document.getElementById("myCanvas");
            var ctx=canvas.getContext("2d");
            var step = 0;
            var pic = "<%= sources %>";
            pic = pic.split(',')
            console.log(pic);

            for (var i in pic) {
                var imageObj = new Image();

                console.log("path"+imageObj.src);
                imageObj.onload = drawImg(ctx, imageObj, x, y);
                imageObj.src = pic[i];
                x = x + (image_size +4);
                if ( x >= (canvas_width - image_size)) {
                    y = y + (image_size +7);
                    x = 10;
                }

            }

            function drawImg(ctx, image, x, y){
                return function(){
                    ctx.drawImage(image, x, y, image_size, image_size);
                }
            }
        });
    </script>

</head>
<body>
<canvas id="myCanvas" width="800" height="1400" style="border:1px solid #000000;">></canvas>

</body>
</html>