<!DOCTYPE HTML>
<html>
<head>
    <style>
        body {
            margin: 0px;
            padding: 0px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var canvas=document.getElementById("myCanvas");
            var ctx=canvas.getContext("2d");
            var step = 0;
            var pic = "<%= sources %>";
            pic = pic.split(',')
            console.log(pic);

            for (var i in pic) {
                var imageObj = new Image();

                console.log("path"+imageObj.src);
                imageObj.onload = drawImg(ctx, imageObj, step);
                imageObj.src = pic[i];
                step = step + 55;
            }
        });
        window.onerror = function(message, source, lineno) {
            alert("Error:"+message +"\n" + "file:" + source + "\n" +  "line:" + lineno);
        };

        function drawImg(ctx, image, step){
            return function(){
                ctx.drawImage(image, (10+step), 10, 48,48);
            }
        }
    </script>

</head>
<body>
<canvas id="myCanvas" width="978" height="800"></canvas>

</body>
</html>