<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="saveMessage" method="post">
        <textarea placeholder="Enter message" maxlength="140" name="message" rows="8" cols="40"></textarea>
        <input type="submit" value="Generate"/>
  </form>

  <div> <%= div %>   </div>
  <figure>
      <img src='<%= pic %>' alt="paper cuts for message"/>
  </figure>
  </body>

</html>