<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="generate" method="post">
      <input type="text" name="message"/>
      <input type="submit" value="ok"/>
  </form>
  </body>
</html>